@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: 'Nunito', sans-serif;
    background-color: #16224f;
    color: #ffffff;

}
.container {
    background-color: #24307f;
    width: 1536px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.navbar {
    display: grid;
    grid-template-columns: 10% 67% 6% 6% 6% 5%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #34408f;
}
.footerbar {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    background-color: #34408f;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px; 
}
